@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

.todoapp {
  height: 100vh;
  display: grid;
  grid-template-columns: 321px 0.9fr;
  gap: 77px;
}

.side-nav {
  background: #e0aa56;
  padding-top: 45px;
  text-align: center;
}

.logo {
    font-weight: 900;
font-size: 50px;
line-height: 60px;
letter-spacing: 0.075em;

color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px;
  height: 57px;
  background: #ffffff;
  border-top: 2px solid #1e6007;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: #074f60;
}

.task {
  display: flex;
  gap: 32px;
}

.filters {
  display: flex;
  gap: 34px;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
}

input[type="checkbox"]:before {
  content: "✔";
  text-align: center;
  font-size: 15px;
  color: transparent !important;
  background: #fef2e0;
  display: block;
  width: 15px;
  height: 15px;

  border-radius: 50%;
  width: 30px;
  height: 30px;
}

input[type="checkbox"]:checked:before {
  color: black !important;
}

.edit-del {
  display: flex;
  align-items: center;
  gap: 80px;
}

.tasks-heading,
.tasks-heading div {
  display: flex;
}

.tasks-heading {
  justify-content: space-between;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  padding-left: 120px;
}

.tasks-heading div {
  gap: 25px;
}

#list-heading {
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 20px;
}

button {
  border: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
}

button span {
  font-size: 18px;
}

.toggle-btn:focus {
  text-decoration: underline;
  font-weight: 600;
  color: #074f60;
}

.toggle-btn {
  cursor: pointer;
}

.input {
  width: 500px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #000000;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  color: #074f60;
  margin-right: 15px;
}

.input::placeholder {
  color: rgba(7, 79, 96, 0.84);
}

.input:focus {
  outline: 0;
}

.btn_add {
  cursor: pointer;
}

.todo-text {
  border: none;
  outline: 0;
  width: 300px;
  font-weight: 400;
  font-size: 20px;
  color: #074f60;
}

.todo-text::placeholder {
  font-size: 15px;
}

.todo-pop-up {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 435px;
  height: 176px;
  background: #ffffff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.todo-header {
  font-size: 25px;
  text-align: center;
  align-self: stretch;
  font-weight: 700;
  background: #e7be7d;
  color: #ffffff;
}

.task-name {
  font-size: 20px;
  text-align: center;
  color: #074f60;
  align-self: stretch;
  height: 89px;
  padding-top: 15px;
}

.yes {
  width: 68px;
  height: 45px;

  background: rgba(177, 0, 0, 0.32);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.cancel {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 122px;
  background: #b7ccb0;
  height: 45px;
}

.btn-grp {
  display: flex;
  justify-content: center;
}

.task-name-input {
  width: 80%;
  margin: auto;
  border: none;
  border-bottom: 1px solid #000000;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 20px;
  color: #074f60;
  align-self: stretch;
  height: 89px;
  padding-top: 15px;
  color: rgba(7, 79, 96, 0.6);
}

.task-name-input::placeholder {
  color: rgba(7, 79, 96, 0.84);
}

.task-name-input:focus {
  outline: 0;
}

.inbox-icon {
    width: 20px;
height: 20px;
}

.inbox{
display: flex;
align-items: center;
gap: 15px;
margin-bottom: 15px;
margin-top: 50px;
font-weight: 400;
font-size: 20px;
line-height: 38px;
/* identical to box height */


color: #074F60;
}