@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

.todoapp {
    height: 100vh;
    display: grid;
    grid-template-columns: 321px 1fr;
    gap: 77px;
}

.side-nav {
    background: #E0AA56;
    padding-top: 45px;
    text-align: center;
}

.main {
    padding-top: 45px;
}

.tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 7px 12px;
gap: 760px;
max-width: 1410px;
height: 57px;
background: #FFFFFF;
border-top: 2px solid #1E6007;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}

.task {
    display: flex;
    gap: 32px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
}

input[type=checkbox]:before {
    content: "✔";
    text-align: center;
    font-size: 15px;
    color: transparent !important;
    background: #fef2e0;
    display: block;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    width: 30px;
height: 30px;
}

input[type=checkbox]:checked:before {

	color: black !important;
}
